@import "../common/variables";
@import "../common/mixins";

$breakpoint-sm: 429px;
$breakpoint-md-sm: 700px;
$breakpoint-md: 1050px;

body {
    #tarteaucitron {
        background-color: var(--color-primary);
        color: var(--color-white);

        * {
            border: 1px solid red;
        }

        a {
            text-decoration: underline;
            font-size: inherit;
            font-weight: inherit;
        }

        #tarteaucitronClosePanel {
            z-index: 1 !important;

            > i {
                color: inherit;
                font-size: inherit;
                font-family: "icomoon", sans-serif !important;
            }
        }

        #tarteaucitronServices {
            @include flex(column, nowrap, initial, initial);

            margin-top: 0 !important;
            overflow-y: hidden;

            #tarteaucitronMainLineOffset {
                background-color: transparent !important;
                border: none !important;
                padding: 60px;
                z-index: 0;

                @media only screen and (max-width: $breakpoint-sm) {
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 100px;
                }

                #tarteaucitronScrollbarAdjust,
                .tarteaucitronName {
                    display: none;
                }

                #dialogTitle {
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 42px;
                    margin-top: 0;
                    margin-bottom: 12px;
                }

                #tarteaucitronInfo {
                    background-color: transparent !important;
                    border: none !important;
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 0 !important;
                    max-width: 100% !important;
                }
            }

            .tarteaucitronBorder {
                overflow-y: hidden;
                flex: 1;
                border: none;
                background-color: var(--color-primary);
                padding-left: 60px;
                padding-right: 60px;
                padding-bottom: 60px;

                .tarteaucitronSelfLink {
                    display: none;
                }

                @media only screen and (max-width: $breakpoint-sm) {
                    padding-left: 30px;
                    padding-right: 30px;
                }

                #tarteaucitronServicesTitle_mandatory {
                    .tarteaucitronLine {
                        .tarteaucitronAsk {
                            .tarteaucitronAllow {
                                background-color: var(--color-primary);
                                color: var(--color-white);
                            }
                        }
                    }
                }

                > ul {
                    height: 100%;
                    overflow-y: scroll;
                    padding: 0 30px;
                    background-color: white;
                    scrollbar-width: 6px;  /* Firefox */
                    scrollbar-track-color: var(--color-secondary);

                    &::-webkit-scrollbar {
                        width: 6px;
                        background-color: var(--color-white);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--color-secondary);
                    }

                    li {
                        &#tarteaucitronServicesTitle_mandatory {
                            display: none;
                        }

                        > .tarteaucitronTitle {
                            display: none;
                        }
                    }
                }

                .tarteaucitronLine {
                    @include flex(row, nowrap, flex-start, center);

                    background-color: var(--color-white);
                    color: var(--color-text-color);
                    padding: 30px 0;
                    border-left: none;
                    border-bottom: 1px solid rgba(#000, 0.1);

                    .tarteaucitronName {
                        margin-left: 0;

                        .tarteaucitronListCookies,
                        .tarteaucitronInfoBox,
                        .tarteaucitronH3 {
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 400;
                            margin: 0 0 15px;
                        }

                        .tarteaucitronH3 {
                            font-weight: 800;
                            color: var(--color-primary);
                            line-height: 20px;
                            text-transform: uppercase;
                        }

                        .tarteaucitronListCookies {
                            display: block;
                        }

                        .TarteaucitronTitleBlock {
                            .tarteaucitronInfoBox {
                                display: block;
                                position: relative;
                                background-color: transparent;
                                color: inherit;
                                padding: 0;
                            }
                        }
                    }

                    .tarteaucitronAsk {
                        @include flex(row, nowrap, flex-end, center);

                        flex: 1;

                        .tarteaucitronDeny,
                        .tarteaucitronAllow {
                            background-color: var(--color-white);
                            color: var(--color-primary);
                            border-color: var(--color-white);
                            box-shadow: none;
                            opacity: 1 !important;
                            padding: 18px 28px;
                        }
                    }

                    &.tarteaucitronIsAllowed {
                        .tarteaucitronAsk {
                            .tarteaucitronAllow {
                                background-color: var(--color-primary);
                                color: var(--color-white);
                            }
                        }
                    }

                    &.tarteaucitronIsDenied {
                        .tarteaucitronAsk {
                            .tarteaucitronDeny {
                                background-color: var(--color-primary);
                                color: var(--color-white);
                            }
                        }
                    }
                }
            }
        }

        &Root {
            #tarteaucitronIcon {
                display: none !important;
            }

            div {
                &#tarteaucitron {
                    &AlertBig {
                        &::before {
                            text-transform: uppercase;
                            font-weight: 800;
                            font-size: 24px;
                            line-height: 42px;
                            margin-top: 0;
                            margin-bottom: 12px;
                        }

                        display: flex;
                        border-radius: 0 !important;
                        background-color: var(--color-primary) !important;
                        padding: 60px !important;
                        max-width: 857px !important;
                        width: 100%;

                        #tarteaucitronDisclaimerAlert {
                            font-size: 16px;
                            line-height: 26px;
                        }

                        button {
                            background-color: var(--color-white);
                            color: var(--color-primary);
                            border-color: var(--color-white);

                            &:hover {
                                background-color: transparent;
                                color: var(--color-white);

                                > i {
                                    color: var(--color-white);
                                }
                            }
                        }

                        .tarteaucitronDeny,
                        #tarteaucitronPersonalize {
                            display: inline-flex !important;
                            margin-bottom: 24px;
                        }

                        #tarteaucitronCloseAlert {
                            margin-left: auto;
                            margin-right: auto;
                            background-color: transparent;
                            border-color: transparent;
                            color: var(--color-white);
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

#akyCookiesGestion {
    cursor: pointer;
    position: fixed;
    bottom: -10rem;
    left: 1rem;
    z-index: 1;
    background: white;
    border-radius: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease .3s;

    img {
        width: 25px;
    }

    &.active {
        bottom: 1rem;
    }

    &.hidden {
        display: none;
    }
}

@media only screen and (max-width: $breakpoint-md-sm) {
    body {
        #tarteaucitron {
            #tarteaucitronServices {
                .tarteaucitronBorder {
                    .tarteaucitronLine {
                        flex-wrap: wrap;

                        .tarteaucitronName {
                            flex: 1 0 100%;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    body {
        #tarteaucitron {
            #tarteaucitronServices {
                display: block;
                height: 100% !important;
                overflow-y: scroll;

                .tarteaucitronBorder {
                    overflow-y: visible;

                    > ul {
                        height: auto;
                    }

                    .tarteaucitronLine {
                        .tarteaucitronAsk {
                            flex-wrap: wrap;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
