<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    {% if core_options and core_options.favicon %}
        <link rel="icon" href="{{ getImagePathById(core_options.favicon) }}"/>
    {% endif %}
    {% block rgpd_header %}
        {% include '@AkyosCore/front/layouts/rgpd_header.html.twig' %}
    {% endblock %}
    {% block meta %}{% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>