.aky-title{
    position: relative;

    &--container{
        display: flex;

        &.center {
            justify-content: center;
        }
        &.left {
            justify-content: flex-start;
        }
        &.right {
            justify-content: flex-end;
        }
    }

    &.style{
        &-1{
            line-height: 1;
            padding-left: 20px;
            font-size: 1.5rem;
            font-weight: 700;
            border-left: 7px solid color(primary);
        }
        &-2{
            padding-bottom: 20px;
            color: color(secondary);
            font-weight: 700;
            font-size: 2rem;
        }
        &-3{
            font-size: 1.2rem;
            line-height: 1.2;
            font-weight: 700;
        }
        &-4{
            font-size: 2.3rem;
            font-weight: 700;
        }
    }

    &.bordure{
        &-right,
        &-center,
        &-left{
            &:after {
                content: '';
                position: absolute;
                background-color: color(primary);
                height: 5px;
                top: 100%;
                width: 100px;
            }
        }
        &-right{
            &:after {
                right: 0;
            }
        }
        &-center{
            &:after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &-left{
            &:after {
                left: 0;
            }
        }
    }
}
