{{ form_start(formSeo, {'action' : path('seo_submit', {'type' : formSeo.vars.data.type|url_encode,'typeId' : formSeo.vars.data.typeId})}) }}
    {{ form_widget(formSeo) }}
{# <button class="btn btn-primary aky-submit-seo">{{ button_label|default('Enregistrer') }}</button> #}
{{ form_end(formSeo) }}