<div id="header">
    <a href="#" id="sidebarCollapse">
        <i class="fas fa-circle"></i>
    </a>
    <span>
        <a href="{{ path('home') }}" target="_blank">Voir le site</a>
        <span class="divider"> | </span>
        <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% if core_options %}
            <span class="divider"> | </span>
            <a href="{{ core_options.agencyLink }}">Made with <i class="fas fa-heart"></i>, by {{ core_options.agencyName }}</a>
        {% endif %}
    </span>
</div>
