<div id="header">
    <a href="#" id="sidebarCollapse">
        <i class="fas fa-circle"></i>
    </a>
    <span>
        <a href="{{ path('home') }}" target="_blank">Voir le site</a>
        <span class="divider"> | </span>
        <a href="https://akyos.com">Made with <i class="fas fa-heart"></i>, by Akyos</a>
    </span>
</div>
