.aky-menuitem {
    padding: .5rem .8rem;
    background-color: $grey;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;

    &-parent {
        padding: 0;

        > .aky-menuitem {
            max-width: 50%;
        }
    }

    &-child {
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: 20px;

        > .aky-menuitem {
            background-color: $white;
            border: 1px solid color(grey);
        }
    }

    &-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-parent,
    &-child {
        list-style-type: none;
    }
}

.ui-sortable-placeholder {
    border: 1px dotted $black;
    visibility: visible !important;
    min-height: 25px;
}

.ui-sortable-helper {
    border: dotted 1px $black;
    border-radius: 4px;
    background-color: $second !important;

    > .aky-menuitem-el {
        color: $white;

        .btn-modal-menuitem {
            background-color: $white !important;
            color: $second !important;
        }
    }
}

.ui-sortable-handle {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}