.akyos-step{
  display: flex;
  align-items: center;
  &-title{
    display: flex;
    align-items: center;
    &__circle{
      background-color: color(back-main-color);
      color: color(back-main-contrast-color);
      font-size: 3rem;
      border-radius: 50%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
    }
    &__help{
      margin-bottom: 0;
      margin-left: .8rem;
    }
  }
  &-element{
    &__sortable{
      display: flex;
      flex-wrap: wrap;
      li{
        list-style: none;
        margin-left: 10px;
        color: color(back-main-contrast-color);
        background-color: color(back-main-color);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }
    &__button{
      color: color(back-main-contrast-color);
      background-color: color(back-main-color);
      border-radius: 5px;
      border: none;
      padding: .7rem;
    }
  }
}