{% extends '/bundles/AkyosCoreBundle/front/layouts/front_layout.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block content %}
    <div class="container aky-error-404" style="height: 50vh;display: flex;flex-direction: column;justify-content: center;">
        <h1 class="mb-2 font-weight-bolder text-center">Désolé,</h1>
        <h2 class="mb-5 text-center">Cette page n'existe pas !</h2>
        <p class="text-center">La page sur à laquelle vous essayez d'accéder n'existe pas, veuillez vérifier votre URL.</p>
        <div class="text-center aky-error-404-back">
            <a href="{{ path('home') }}" class="mt-5 text-center"><i class="fas fa-long-arrow-alt-left"></i> Retour à l'accueil</a>
        </div>
        <div class="mt-5 small aky-error-404-message">
            <div>Message d'origine:</div>
            <p>{{ exception.message~' '~exception.statusCode~' '~exception.statusText }}</p>
        </div>
    </div>
{% endblock %}