{% extends '/bundles/AkyosCoreBundle/front/layouts/front_layout.html.twig' %}

{% block title %}Erreur 500{% endblock %}

{% block content %}
    <div class="container aky-error-500"
         style="height: 50vh;display: flex;flex-direction: column;justify-content: center;">
        <h1 class="mb-2 font-weight-bolder text-center">Oops,</h1>
        <h2 class="mb-5 text-center">une erreur est survenue !</h2>
        <p class="text-center">Il semblerait que quelque chose n'ait pas fonctionné comme prévu, veuillez réessayer
            ultérieurement.</p>
        <div class="text-center">
            <a href="{{ path('home') }}" class="mt-5 text-center"><i class="fas fa-long-arrow-alt-left"></i> Retour à
                l'accueil</a>
        </div>
        <div class="mt-5 small">
            <div>Message d'origine:</div>
            <p>{{ exception.message~' '~exception.statusCode~' '~exception.statusText }}</p>
            {{ sendExceptionMail(exception.message~' '~exception.statusCode~' '~exception.statusText) }}
        </div>
    </div>
{% endblock %}