@import
    'aky-header-page'
;


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.aky-sidebar-form {
    position: sticky;
    top: 15vh;
    background-color: $grey;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: color(back-main-color);
        color: color(white);
        transition: all 0.3s;

        &.active {
            margin-left: -250px;
        }

        .sidebar-header {
            height: 140px;
            padding: 20px 0;
            background: color(back-main-color);
            color: color(white);

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .components {
            padding: 1rem;

            p {
                color: #fff;
                padding: 10px;
            }

            li {
                margin-bottom: .8rem;
                a {
                    padding: .5rem 1rem;
                    display: block;
                    color: color(back-main-contrast-color);
                    background-color: transparent;
                    transform: translateY(0%);
                    transition: ease .3s;
                    border-radius: 4px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: .8rem;
                    font-weight: 300;
                    box-shadow: none;

                    &:hover {
                        color: color(back-main-color);
                        box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
                        background-color: color(back-main-contrast-color);
                        transform: translateY(-2px);
                        text-decoration: none;
                    }
                }
                &.active {
                    > a {
                        color: color(back-main-color);
                        box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
                        background-color: color(back-main-contrast-color);
                        transform: translateY(-2px);
                        text-decoration: none;
                    }
                }
                &.divider {
                    color: color(back-main-contrast-color);
                    width: 100%;
                    border-bottom: 1px solid color(back-main-contrast-color);
                    opacity: 0.4;
                }
            }

            ul {
                padding-left: 25px;
            }
        }
    }
}

.submitLoader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    @include flex(row, nowrap, center, center);

    svg {
        animation-name: loaderRotate;
        animation-iteration-count: infinite;
        animation-duration: 600ms;
        animation-timing-function: ease;
    }
}

.required{
    &:after{
        content: '*';
        color: red;
        margin-left: 4px;
    }
}
@keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.wrapperLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    height: 100vh;

    #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        width: 90%;
        max-width: 450px;
        position: relative;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
        padding: 3rem;
    }
}