/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$gray-900:      #545454;
$dark:          #19181b;

$theme-colors: (
        primary: #004378,
        second: #0CACAA,
        yellow: #f39c12,
        red: #FF3A19,
        grey: #F4F4F5,
        lightgrey: #DCDDDE,
        darkgrey: #808080,
        black: rgba(10,10,10, 1.0),
        white: rgba(255,255,255, 1.0),
        gray-900: $gray-900,
        dark: $dark
);


:root {
    @each $name, $color in $theme-colors {
        --color-#{$name}: #{$color};
    }
}