{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button class="btn btn-primary btn-update-item">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
