<form method="post" class="not-submit" action="{{ path(route~'_delete', {'id': el.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ el.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
